[2013-01-15 16:55] wpp opened #3 "State of shoesrb.com"
Hello everyone,

I would :heart: to help out with shoesrb.com but I'm a little confused about the state of affairs. Would be great if someone could clear a few things up:
- What is the purpose of this repository?
  - Should it eventually replace the current shoesrb.com website?
  - If so, what are the golas for the new website (is there another issue/milestone tracker)?
- What is the purpose of ht

[2013-01-15 17:01] steveklabnik commented on #3
shoes-web is a copy of redmine that is the current shoesrb.com. This repository was supposed to be the new site for Shoes, but it kinda never got finished. Everyone got really involved in actually building Shoes 4.

The goals are 'build a baller website.' Anyone who wants to do the work can interpret that as they will, though I reserve the right to veto styles I think are ugly. ;) The current site

[2013-01-15 17:03] PragTob commented on #3
Hi there,

from my current understanding this is meant to replace the current shoesrb.com - which at the latest we want to do with the release of [shoes4](https://github.com/shoes/shoes4).

And I wanted to ping @steveklabnik but I see he just showed... dunno how to start this site right now but Steve should know - I don't have the code atm and little time.

I'd really welcome work on this site :-)

[2013-01-15 17:06] steveklabnik commented on #3
Like any ruby project:

[code]

should start it up.

[2013-01-15 17:59] wpp commented on #3
Thanks for that quick reply. I'll give "building a baller website" a shot. Discussion is fine via issues?

[2013-01-15 18:01] steveklabnik commented on #3
Yep!

Sent from my iPhone

On Jan 15, 2013, at 12:59 PM, Philipp notifications@github.com wrote:

[2013-01-15 18:02] #3 closed, assigned to nobody

[2013-01-15 18:10] jrgifford commented on #3
To some extent, it's encouraged. :heart:

On Tuesday, January 15, 2013, Philipp wrote:

##

##

James Gifford
cell: 2162238574

[2013-01-16 23:23] wpp opened #4 "First Home Page Iteration"
Hello,

So I've had a couple of hours today and started work on the home page. Wanted to post a shot so you guys can let me know what you think about it.

![Shoes The easiest little GUI toolkit for Ruby 2013-01-17 00-20-07](https://f.cloud.github.com/assets/942021/73166/7d25ce80-6033-11e2-8cdf-7a17c89753c8.png)

[2013-01-16 23:26] steveklabnik commented on #4
This loooooks awesome! Forreals. I'm super happy.

[2013-01-16 23:36] wpp commented on #4
:green_heart: Great! :green_heart: I'm not too happy with the text(s) yet, but I'm off to bed for now. I'll be working on it tomorrow again. I'll prepare a few more screenshots and submit a PR then.

[2013-01-16 23:37] jrgifford commented on #4
:+1: :+1: :+1: :D

On Wednesday, January 16, 2013, Steve Klabnik wrote:

##

##

James Gifford
cell: 2162238574

[2013-01-17 03:48] wasnotrice commented on #4
@wpp looks great! Much needed. Thanks!

[2013-01-17 23:24] #4 closed, assigned to nobody

[2013-01-18 13:33] davorb commented on #4
Looks great! I've posted a comment about this in #5

[2013-02-04 04:54] wasnotrice opened #6 "Downloads are missing"
see discussion on [#5](https://github.com/shoes/shoesrb.com/pull/5#issuecomment-12862943). I also fielded a request for a windows download on IRC, so people are looking for them ;)

[2013-02-04 11:52] wpp opened #7 "Regarding the contributors page"
So @ashbb mentioned there are a few folks missing from the contributors page. I'm sorry about that, I just took a screen [from the shoes members page](https://github.com/shoes?tab=members). What do you think? How could can we get a list of all contributors?

[2013-02-04 12:00] wpp opened #8 "Move The Shoes Tutorial Walkthrough"
I would like to make https://github.com/ashbb/shoes_tutorial_walkthrough part of the actual shoes website. It feels kind of weird to me that it lives on GitHub like that. (And it might be confusing for total newcomers, looking behind the scenes like that).

[2013-02-04 16:12] davorb commented on #7
I think rubinius does this using a script that goes through the git log. I'll see if I can hack something similar together once I get home.

[2013-02-04 16:20] wasnotrice commented on #7
@davorb that's a great idea. We could also do it through the [github api](http://developer.github.com/v3/repos/#list-contributors)

[2013-02-04 16:23] PragTob commented on #8
Good idea :+1:

[2013-02-04 16:40] wasnotrice opened #9 "Bad link to Shoes website in manual"
See "the site of Shoes" link at http://shoesrb.com/manual/Installing.html

Link goes to heroku, should go to this site.

[2013-02-04 17:15] steveklabnik commented on #9
It's been fixed in the repo: https://github.com/shoes/shoes/blob/develop/static/manual-en.txt#L90

Probably best just to fix it in the HTML for now; I scraped the existing manual that was up on the old site to make this one, it wasn't generated directly from the source.

[2013-02-04 20:35] wpp commented on #9
#11 as @steveklabnik suggested just updated the html

[2013-02-04 23:01] wasnotrice commented on #6
Fixed by #10

[2013-02-04 23:01] #6 closed, assigned to nobody

[2013-02-05 10:46] ashbb commented on #8
@wpp Good idea. Please do that. :)

[2013-02-05 21:37] davorb commented on #7
Eric, that's awesome. I had no idea the Github API was that powerful. We
might as well do it from there then, since the list doesn't update often

## enough to warrant writing a proper script for it.

Davor Babic
davor@davor.se

Eric Watson wrote:

[2013-02-13 12:38] davorb commented on #6
We should re-add the old Windows packages since people have been asking for them on irc.

[2013-02-13 13:24] davorb commented on #9
Closing, as it should be working after #11

[2013-02-13 13:24] #9 closed, assigned to nobody

[2013-02-14 02:42] wasnotrice commented on #7
Related: mpapis/gh_contributors

[2013-02-14 02:43] wasnotrice commented on #7
Oops. Link: https://github.com/mpapis/gh_contributors

[2013-02-14 05:33] wasnotrice opened #13 "Let's get the responsive stylesheet working"
Currently, the responsive stylesheet is included in the `head`, but the HAML is messed up [here](https://github.com/shoes/shoesrb.com/blob/master/views/layout.html.haml#L11-L24) so that it produces this:

[code]

And, of course, the site doesn't adapt to small screens. The icons mentioned there don't exist.

[2013-02-14 05:51] steveklabnik commented on #13
:+1:. A new version of Bootstrap came out a bit ago, too...

[2013-02-14 05:57] wasnotrice commented on #13
Hmmm. Probably a good time to pull our site styles out of the main bootstrap.css ;)

[2013-02-14 09:37] wpp commented on #13
@wasnotrice good idea :smile: what are these icons supposed to look like, or where do they come from?

[2013-02-14 19:05] wpp commented on #8
I started moving the guide this is what it looks like for now ( **work in progress** ):

![Screen Shot 2013-02-14 at 8 04 30 PM](https://f.cloud.github.com/assets/942021/158063/510a21ae-76d9-11e2-8b4a-336b272c9bbc.png)
1. The code examples look like shit, I'm not sure if there is a gem or something we could you to get proper syntax highlighting?
2. I have an idea for moving the example pictures si

[2013-02-14 19:44] steveklabnik commented on #8
http://chriseppstein.github.com/blog/2010/02/08/haml-sucks-for-content/

I'm sure there's something good, I'd used JS based solutions before. Markdown should highlight the code based on the language it detects. Hm.

[2013-02-14 20:14] wpp commented on #8
@steveklabnik puh thanks for that link :)

[I think this guy looks all right](http://google-code-prettify.googlecode.com/svn/trunk/README.html)

[2013-02-14 21:04] wasnotrice commented on #8
Kramdown does this through Coderay

[2013-02-17 13:11] PragTob commented on #8
The markdown highliting was always good for me and you can tell it what highliting to use with '''ruby

Thank you for your work.

[2013-02-21 20:12] #8 closed, assigned to nobody

[2013-03-29 16:41] PragTob opened #17 "More content for the about page"
Right now the about page is pretty lonely, with just one sentence written there. It would be nice to get some content in there, including maybe screenshots of hacketyhack.. some examples or whatever.

Especially in the light of our google summer of code application.

for reference, the [the current about page](http://www.shoesrb.com/about)

[2013-03-29 16:43] PragTob opened #18 "The current page isn't highlighted in the menu"
It's been bugging me for a while: In the top navigation bar Home is always highlighted, no matter what page you're on.

That's a pretty tiny thing to fix I guess :-)

[2013-03-29 17:51] steveklabnik commented on #18
Ha! yes.

[2013-03-29 18:32] wpp commented on #18
Damnit :) Not on computer, I guess bootstrap.js might not be included...I'll take a look as soon as I can

[2013-03-29 19:30] wasnotrice commented on #18
I remember there's something wrong with the indentation in the <head> tag. Some haml is not getting rendered. Might be related.

On Mar 29, 2013, at 1:32 PM, Philipp Weissensteiner notifications@github.com wrote:

[2013-03-29 19:31] steveklabnik commented on #18
No, the issue is https://github.com/shoes/shoesrb.com/blob/master/views/layout.html.haml#L41 . It's hard-coded for Home.

[2013-03-29 20:54] wasnotrice commented on #18
That'll do it. You can see on that github render the mis-indented haml, though. It's not syntax highlighted.

On Mar 29, 2013, at 2:31 PM, Steve Klabnik notifications@github.com wrote:

[2013-03-30 16:56] #18 closed, assigned to nobody

[2013-03-30 17:17] PragTob commented on #17
See #20 for a basic step I'd be grateful for more additions and a cooler look though :-D

[2013-03-30 17:23] PragTob opened #21 "Reporting Issues"
The website should give some hint about where to report issues I think.

I'm thinking about an `issues` or `report an issue` entry in the main menu that either goes to..
- the github issues of the current default implementation
- a list of issue links from popular implementations
- maybe also includes poitners to the mailing list and IRC - it should or could rather be called `need help?` then

Wha

[2013-03-30 17:45] steveklabnik commented on #21
:+1:

[2013-03-30 21:27] wpp commented on #13
see #22

[2013-03-31 05:29] davorb commented on #21
A link to the github issues seems like a bad idea. People sometimes pop in on IRC to ask questions, but they usually leave before someone has had a chance to answer them.

[2013-03-31 09:07] wpp commented on #21
I also think gh issues could send a lot of "how do you" type of questions here. What about stackoverflow? Just explain that they should tag their questions with "shoes".

[2013-03-31 10:11] PragTob commented on #21
@davorb I don't get why a link to github issues is bad when people don't get answers in IRC? Or did you mean IRC?

Ok so then I'd be for a menu item like "get help" where we'd put in links to the mailing list, stackoverflow and github issues. And perhaps to the tutorials once more. Explaining that stackoverflow and the ML are more for "How do you?" questions and github issues better for bugs/featu

[2013-03-31 10:15] davorb commented on #21
@PragTob I meant IRC.

I think that what you're suggesting sounds good.

[2013-03-31 10:16] PragTob commented on #21
@davorb then I get it and agree :-)

Happy holidays everyone! =)

[2013-05-06 03:28] jamesaanderson opened #25 "Hash syntax"
At the moment, there's a combination of ruby 1.8 and ruby 1.9 hash syntax in shoesrb.com. Should we convert all the 1.8 hash syntax to the 1.9 syntax? If so, I have a pull request ready.

[2013-05-06 07:01] PragTob commented on #25
Hi there,

personally I prefer the 1.9 hash syntax so I'm all for it. However it's not something really important to change in my eyes :-)

Just open the PR and if nobody has some argument against it we'll merge it!

Thanks!
Tobi

[2013-05-06 17:06] steveklabnik commented on #25
Yeah, I'm in the habit of 1.8, but we only deploy to 1.9, so it's fine. Merged.

[2013-05-06 17:06] #25 closed, assigned to nobody

[2013-05-20 00:08] jamesaanderson opened #27 "Download links broken"
The downloads on http://shoesrb.com/downloads.html return 404s.

[2013-05-20 00:29] wasnotrice commented on #27
Thanks. That makes sense. They were dynamic redirects, so that we could publish URLs that didn't change. This might be the one element that gives us trouble on a static site (where we don't control the server

[2013-05-20 00:40] jamesaanderson commented on #27
Can't that be done in JavaScript?

[2013-05-20 01:35] steveklabnik commented on #27
Only if they click the link, not if they visit it.

[2013-05-20 01:37] jrgifford commented on #27
And we can't do redirects on the http level with GitHub pages …

[2013-05-20 08:49] PragTob commented on #17
This was fixed in #23. Thanks.

[2013-05-20 08:49] #17 closed, assigned to nobody

[2013-05-20 08:50] PragTob commented on #21
I see this is in as well, thanks @jamesaanderson !

[2013-05-20 08:50] #21 closed, assigned to nobody

[2013-05-20 08:51] PragTob opened #28 ""Home" is always highlighted"
No matter at which sub page you are, the "Home" tab in the top menu bar is always highlighted.

[2013-05-20 13:14] jamesaanderson opened #29 "Gitignore and remove _site/"

[2013-05-20 15:34] steveklabnik commented on #29
Totally.

[2013-05-20 22:31] #29 closed, assigned to nobody

[2013-05-20 23:04] #28 closed, assigned to nobody

[2013-05-21 07:54] PragTob opened #32 "The shoes manual is not accessible at the moment"
The shoes manual aka the [walkthrough](http://shoesrb.com/walkthrough) is not accessible at the moment. It gives me a 404 on github pages, so I guess it is somehow related to the move to github pages.

As this is the go to place for shoes advice, I invented the new urgent tag as we should really fix this rather quickly.

**Edit:** Mosst importantly the **[manual](http://shoesrb.com/manual/Hello.ht

[2013-05-21 11:46] wpp commented on #32
#33

[2013-05-21 13:11] ghost commented on #32
Just letting you know even the fallowing link is down http://shoesrb.com/manual/Hello.html

[2013-05-22 16:58] PragTob commented on #32
Argh it's not primarily the walkthrough but the [manual](http://shoesrb.com/manual/Hello.html) as psoted above which is not working.

Still an issue :-(

[2013-05-22 20:33] jhirbour commented on #27
So... what's the link for the DMG (os x) in the mean time?

[2013-05-22 22:54] jamesaanderson commented on #27
@jhirbour https://github.com/shoes/shoes/downloads

[2013-05-24 04:25] jamesaanderson commented on #32
Is anyone working on this? If not, I'll give it a shot.

[2013-05-24 08:35] PragTob commented on #32
you can do so :-) However I'll most likely also try today in a couple of hours. If it's not done by then I'll see what I can do :-)

[2013-05-24 19:29] #32 closed, assigned to nobody

[2013-05-24 19:40] PragTob commented on #27
Fixed via hard coded links in 51ca83ff1534d769aaa78b94e1ca5fb1015b9212
Better those than none.

For discussing possibilities of a redirect I will open a new issue.

[2013-05-24 19:40] #27 closed, assigned to nobody

[2013-05-24 19:44] PragTob opened #34 "No dynamically redirecting URLs anymore for downloads"
Hi everyone,

since the move to github pages we don't have dynamically redirecting URLs anymore.

The question is: can we fix that somehow?

Shoes on!
Tobi

[2013-05-24 20:04] steveklabnik commented on #34
Jekyll doesn't have support for this, I don't think.

[2013-05-24 20:12] PragTob opened #35 "Operating System signs"
Hi everyone,

Right now we got 4 signs for operating systems, 2 of them are Mac OSX. Can't we take a generic symbol for Mac OSX?

Plus the Linux one is Ubuntu, how about a cute little Tux?

Any ideas or objections? :-)

[2013-05-24 20:13] PragTob opened #36 "Where should learn more go?"
Right now learn more goes to about, however maybe it would be better off if the link pointed to tutorials.

What do you think?

[2013-05-24 20:16] PragTob opened #37 "Make the difference between walkthrough, manual, book and RDoc clearer"
It could be made clearer what the difference between walkthrough, manual, book and RDoc is - e.g. the manual is a rather high level documentation of all the shoes methods, the walkthrough gets yous tarted and the book is a bit longer but teaches you all the basic concepts of shoes and how to lay out applications with it.

[2013-05-24 20:18] PragTob opened #38 "Put a slider with shoes apps on the start page"
This is rather far off, maybe for a post 4 release but I didn't want to lose the idea someone just pointed out to me in a chat.

It would be cool to have a little slider with pictures of shoes applications on the home page, so people can see what Shoes can actually do :-)

Shoes on!
Tobi

[2013-05-24 22:10] jamesaanderson commented on #35
:+1:

[2013-05-24 22:22] jamesaanderson commented on #34
What about using JS routing like in Backbone.js? [Davis.js](http://davisjs.com/)?

[2013-05-24 22:26] steveklabnik commented on #34
That doesn't help.

We need shoesrb.com/download/mac to redirect to s3. JS can't do that, that I know of.

[2013-05-24 22:32] jamesaanderson commented on #34
I haven't used Davis.js but by looking at their example wouldn't the following work?

[code]

[2013-05-25 00:58] wasnotrice commented on #34
It would work for clients that evaluate javascript, I think. Has anyone used this technique before? (meta tag with refresh of 0)

http://www.w3.org/TR/WCAG20-TECHS/H76.html

Seems what we want, though I don't know if all clients would follow it.

[2013-05-25 00:59] wasnotrice commented on #38
I like this idea

On May 24, 2013, at 3:18 PM, Tobias Pfeiffer notifications@github.com wrote:

[2013-05-25 01:29] jamesaanderson commented on #34
See http://en.wikipedia.org/wiki/Meta_refresh#Usability. It does seem like the best option though.

[2013-05-25 07:42] PragTob commented on #34
if we do it/try it we would still have to make that it works without JavaScript. I'm a noscript user and I want the basic functionality of shoesrb.com to be available without JS :-)

[2013-05-25 13:23] wasnotrice commented on #34
Uses for these download URLs:
- folks browsing the shoes site for a shoes download
- other sites wanting to promote shoes, by linking to downloads
- shoes itself, so that it can download and/or update itself

This last one has always been the trickiest one. In Shoes 3, there is an option to package a Shoes app without Shoes. It comes with a small stub that only knows how to download and install th

[2013-05-25 19:28] steveklabnik commented on #38
Absolutely.

[2013-05-27 09:46] wpp commented on #38
Thats a great idea. Just holla if 4 release is about to happen and I'll do it.

[2013-05-27 09:55] wpp commented on #35
Absolutely! I don't even remember why I used 2 for Mac OS. I do remember I couldn't find a "free" generic mac os symbol. (with good quality).

[2013-05-27 10:15] wpp commented on #37
#39

Feel free to give me notes and I'll be happy to improve further.

[2013-05-27 10:16] PragTob commented on #37
Fixed by #39

[2013-05-27 10:16] #37 closed, assigned to nobody

[2013-05-29 00:35] jamesaanderson commented on #35
The Windows logo has also changed

[2013-05-29 09:29] wpp commented on #35
Gentlemen, I've spend some considerable time trying to find logos…I shall now rest my efforts…It is not possible…If someone manages to find logos (for all platforms, good quality) let me know I'll gladly integrate them… :skull:

[2013-05-29 09:43] plexus commented on #35
How about

http://commons.wikimedia.org/wiki/File:Windows_logo_-_2012.png
http://commons.wikimedia.org/wiki/File:Apple_Logo.svg
http://commons.wikimedia.org/wiki/File:Tux.svg

?

On 29 May 2013 11:29, Philipp Weissensteiner notifications@github.comwrote:

[2013-05-29 12:01] jrgifford commented on #35
can someone look at the licensing on those before we use them?

[2013-05-29 12:06] jamesaanderson commented on #35
The apple and the tux we're free to use. I'm not sure about the Windows logo.

[2013-05-29 12:09] jamesaanderson commented on #35
Looks like the Windows logo is in the public domain and we'll have to credit the source of the tux.

[2013-05-29 13:17] wpp commented on #35
- Windows logo is cool
- Like the coloured apple better
- Don't like the tux version. Its to shiny for my taste.

But Im okay with that. @jamesaanderson @jrgifford how and where should the credits for the tux go? footer?

[2013-05-29 13:21] plexus commented on #35
there are other versions of tux on Wikimedia commons. And they're SVG files
I believe (vector graphics), easily editable with Inkscape.

On 29 May 2013 15:17, Philipp Weissensteiner notifications@github.comwrote:

[2013-05-29 14:20] jrgifford commented on #35
yay, vector graphics!

[2013-05-29 14:25] PragTob commented on #35
I'm ok with Tux, as long as you don't know the background story behind the look on his face :-)

[2013-05-30 23:32] jamesaanderson commented on #35
http://commons.wikimedia.org/wiki/File:NewTux.svg is the only other tux image I was able to find on Wikimedia and it's under the same license. Why not add credit in a credits.txt or in the README?

[2013-05-31 07:46] PragTob commented on #35
I'm not sure and not a lawyer but I guess we would have to credit it straight on the web page not in some file. I wouldn't see a problem with that other than where to credit it :-D

[2013-05-31 17:45] wpp commented on #35
@jamesaanderson like that one. @PragTob quoting from the tux link:

So something like "TuxLogo by Larry Ewing"

Quoting from Windows logo:

This lawyer talk is making my head spin, . Does **in the public domain** take precedence over **may still be subject to other restrictions**? Same story with coloured apple logo.

[2013-05-31 17:53] PragTob commented on #35
I think in the public domain is fine. If we are subject to other restrictions I hope that they will notify us.

I must add that I'm a notoriously positive thinking person :-D

[2013-05-31 18:15] jrgifford commented on #35
i think that we should be able to find an icon for each respective OS that is the equivalent of "works with $OS".... maybe?

[2013-06-04 08:43] PragTob commented on #38
Bootstrap even has a [carousel](http://twitter.github.io/bootstrap/javascript.html#carousel) plugin. Question is what does bootstrap NOT have :-D

[2013-06-05 03:15] jamesaanderson commented on #36
Definitely. Anyone have any objections?

[2013-06-05 04:30] steveklabnik commented on #36
:shipit:

[2013-06-05 04:50] #36 closed, assigned to nobody

[2013-06-24 13:30] wasnotrice opened #41 "Assign a subdomain for downloads"
Since we made this website static, we have lost the ability to easily host files for download. See shoes/furoshiki#5

What do we think about using a subdomain to host downloads?

Options:
1. point `download.shoesrb.com` at an S3 bucket.

   **Pro:** simple

   **Con:** difficult to publish static links, e.g. http://download.shoesrb.com/shoes/latest/windows
2. make `download.shoesrb.com` a web serv

[2013-06-26 19:44] steveklabnik commented on #41
1. point download.shoesrb.com at an s3 bucket, make `http://shoesrb.com/shoes/latest/windows` point at `http://downloads.shoesrb.com/windows/whatever.exe`

?

[2013-06-27 01:36] wasnotrice commented on #41
I'm not sure how to do that when shoesrb.com is hosted on github pages :(

[2013-06-27 04:12] pjfitzgibbons commented on #41
Meta redirect
JavaScript redirect

When good ol dns isn't available ill trade pretty for it-works

Thoughts?

Sent from my iPad

On Jun 26, 2013, at 8:36 PM, Eric Watson notifications@github.com wrote:

[2013-06-27 11:22] PragTob commented on #41
JS redirect isn't an option for our HTTP client... and I also think Meta redirect isn't?

(e.g. we want to get that URL with ruby's http library not a web browser...)

What we could do is have shoesrb.com/shoes/latest/sows-windows.exe always be the most current windows shoes release etc.

[2013-06-27 12:45] plexus commented on #41
We could do some work to detect that case. If the response type is
text/html then parse it and look for a meta-redirect. Not the prettiest but
not too hard to make that work.

The other option would be something like Mechanize which follows
meta-redirects out of the box, but that's an unnecessary dependency for our
limited use case.

On 27 June 2013 13:22, Tobias Pfeiffer notifications@github.com

[2013-06-27 18:00] wasnotrice commented on #41
Anyone know if you can set up S3 paths to do redirects?

`http://download.shoesrb.com/windows` -> `http://download.shoesrb.com/windows/whatever.exe`

[2013-07-05 16:35] steveklabnik commented on #41
So: https://github.com/blog/1547-release-your-software

Does this help?

[2013-07-05 16:39] jrgifford commented on #41
It might.

[2013-08-08 15:14] JesseHerrick commented on #35
Why not use fontawesome icons? They're free, look nice, and I don't think they have copyright restrictions. You can also color them and resize them without them looking really crappy.

[Windows Logo](http://fortawesome.github.io/Font-Awesome/icon/windows/)
[Apple Logo](http://fortawesome.github.io/Font-Awesome/icon/apple/)
[Linux Logo](http://fortawesome.github.io/Font-Awesome/icon/linux/)

[2013-08-08 15:45] PragTob commented on #35
"Font Awesome is fully open source and is GPL compatible. You can use it for commercial projects, open source projects, or really just about whatever you want. "

Sounds cool. Thanks @JesseHerrick !

[2013-08-08 22:53] JesseHerrick commented on #35
I think this issue should be closed because #43 fixes it.

[2013-08-09 12:17] #35 closed, assigned to nobody

[2013-08-09 12:17] jrgifford commented on #35
Annnndddd done!

[2013-08-21 05:42] kerrizor opened #46 "Move manual into its own repo"
@PragTob made the comment in a PR.

What would be the best approach?

[2013-08-21 12:23] PragTob commented on #46
So the thing is the following:

Right now there basically is HTML generated from the manual markdown file in this repository. The real source file for the manual is in the shoes repository and in the shoes4 repository ([manual-en.txt](https://github.com/shoes/shoes4/blob/master/static/manual-en.txt)). The markdown files are used for our built in manual there.

I would want to have this all in one

[2013-08-21 12:27] jrgifford commented on #46
If we are gemifying all the things, then make the website use the gem too.
:P

I like it. :)

[2013-08-21 17:29] PragTob commented on #46
@jrgifford would love for the website to use the gem, but github pages can't do that afaik so we'd need the rake task to generate the stuff :'-(

[2013-08-21 18:35] jrgifford commented on #46
@pragtob ew. Nevermind.

##

James Gifford
cell: 2162238574
Snowy Penguin Solutions, LLC | http://snowypenguinsolutions.com

On Wed, Aug 21, 2013 at 1:29 PM, Tobias Pfeiffer
notifications@github.comwrote:

[2013-09-17 07:41] PragTob opened #47 "Make a comment about the Linux Installer"
The Linux installer isn't really working, e.g. probably just 32 bit Linux and maybe just Ubuntu. Making that comment on the website and linking tot he building from source part would probably be helpful towards people :-)

[2013-09-30 02:35] sorens opened #49 "Are old blog posts lost?"
http://blog.shoesrb.com/post/1480014928/other-ruby-gui-toolkits-qtruby from http://stackoverflow.com/questions/6725596/is-shoes-is-a-serious-gui-toolkit-for-ruby?rq=1 results in a 404.

[2013-09-30 04:37] steveklabnik commented on #49
Those are from when we had a tumblr....

On Sunday, September 29, 2013, Faraaz Ismail wrote:

[2013-11-30 11:33] PragTob commented on #47
Oh that's already online - didn't know but perhaps I did it and forgot to close :o

[2013-11-30 11:33] #47 closed, assigned to nobody

[2014-03-04 22:57] cyberarm commented on #49
http://shoesrb.tumblr.com

[2014-03-05 15:44] PragTob commented on #49
Thanks :+1:

Maybe we should import those somehow!

[2014-03-05 19:44] steveklabnik commented on #49
I have login access if we want to save the text

Sent from my iPhone

[2014-05-06 01:20] JesseHerrick opened #52 "Total Overhaul of shoesrb.com"
I'm proposing a serious overhaul to shoesrb.com.

The current version of the website uses an old default Bootstrap layout that just looks ugly. With Shoes 4 well along its way, I think that we should start work on a new and improved http://shoesrb.com. There are a [bunch of issues](https://github.com/shoes/shoesrb.com/issues?state=open) that could be fixed with a new design.

A few things I'd like

[2014-05-06 07:11] PragTob commented on #52
Good morning!

Thanks for your interest and suggestions :-)

Ah if only the release was impending... sure there will be an alpha release but we already got tons of rc1 issues lined up that's not even counting the ones that hopefully will be reported with the alpha :) The shoes4 docs aren't ready yet as well (planned for rc1) - we could make a new & better layout for the manual though.

I wouldn't

[2014-05-06 07:39] wpp commented on #52
@JesseHerrick thanks for bringing this up. I'm on board with the idea and had something similar brew  in my mind every time I visit one of these (I just don't have the design skills):
- http://pow.cx
- http://jekyllrb.com
- http://brew.sh

Do you want to replace Bootstrap with another framework (such as foundation) or just write all the css by hand? I'm all for the :lipstick: but as far as I remem

[2014-05-06 12:04] JesseHerrick commented on #52
@PragTob @wpp I'm a big advocate of hand coding websites rather than using a framework. I feel that it looks nicer (given that it is designed nicely) and seems less cookie-cuttery. For responsive grids, I use [gridism](https://github.com/cobyism/gridism).

I also understand that the docs and Shoes 4 are nowhere near ready, however I'd like to build a design that can accommodate them when they're r

[2014-05-06 12:57] wasnotrice commented on #52
Sounds like a fine idea to me. The current version was a big improvement over the previous version...if we can make it any better, that's great.

One weakness of the current site is that the backend is written in a not-very-accessible framework, which makes it less likely for folks to get involved. I'd vote for keeping things as simple as possible in terms of tools used.

[2014-05-06 16:49] PragTob commented on #52
@wasnotrice backend? Afaik we don't have any backend, it's just jekyll generated static pages or am I missing something?

[2014-05-06 16:49] steveklabnik commented on #52
I am happy to let however actually does the work do it in the way that they prefer.

[2014-05-06 18:50] JesseHerrick opened #53 "New Logo for Shoes"
This goes along with issue #52. How does everyone feel about a new logo for Shoes?

[2014-05-06 18:55] PragTob commented on #53
I'd so love it. E.g. a logo for shoes4, we were searching for one on the mailing list a year or more back or so... entries weren't overwhelming and in the end the vote ended in sticking with the old logo.

Totally up to a new logo - maybe featuring 4 shoes as I figured the reason why shoes3 had 3 is that the version number was 4 :)

[2014-05-06 18:58] JesseHerrick commented on #53
@PragTob I was thinking something more minimalist. Modern logos seem to be going that way.

[2014-05-06 19:06] PragTob commented on #53
@JesseHerrick was just an idea, open to about anything - you are right 4 is probably a bit much and doesn't scale well. Would want it to be kind of playful though :)

[2014-05-07 08:38] wpp commented on #53
@JesseHerrick Can't wait to see what you come up with. <3

[2014-05-07 13:55] wasnotrice commented on #52
@pragtob I'm thinking of the event machine backend. Apparently I haven't contributed to the site for a while :/.

Like I was saying, the backend uses a pretty straightforward and popular framework. I like that, now that I know about it :)

[2014-05-07 14:05] JesseHerrick commented on #52
Well, Jekyll just went 2.0.

On Wednesday, May 7, 2014, Eric Watson notifications@github.com wrote:

[2014-05-07 14:21] PragTob commented on #52
Oh sure yes it did. So an update would be nice as well I guess :-)

[2014-05-07 15:38] davorb commented on #53
@wpp @JesseHerrick You and me both.

[2014-05-09 07:39] PragTob commented on #52
@JesseHerrick just FYI there is gonna be a shoes4-pre1 release tomorrow-ish if nothing goes wrong, that's alpha and hardly stable, but still. No pressure just FYI :) Thanks for taking up this task, happy to see what you'll come up with. Also happy that jekyll 2.0 will support Sass.

[2014-05-09 09:23] PragTob commented on #52
Maybe relevant/interesting: https://github.com/blog/1833-github-pages-3 (new github pages features although that'd make it harder to move away from them as pointed out on twitter) :)

[2014-05-29 16:18] JesseHerrick commented on #52
Hey, quick question. What would be a good description for the shoes website? I'm talking like SEO type stuff.

[2014-05-29 16:20] PragTob commented on #52
hm you mean like keywords? ruby, gui, simple, ease, fun, native applications, toolkit, gui toolkit, windows, mac, Linux, cross platform, app, beginner, packaging...

just off the top of my head

[2014-05-29 19:12] JesseHerrick commented on #52
No, I meant like a tagline sort of thing. Like: Shoes is a tiny GUI kit that allows you to create Ruby desktop apps... (something like that)

[2014-05-31 08:24] PragTob commented on #52
Erm. Good question!

@wasnotrice @jasonrclark @jrgifford @plexus @steveklabnik @ashbb @ccoup @KCErb @pjfitzgibbons can you think of something clever here? :)

I turned to the good old [Nobody Knows Shoes](http://cloud.github.com/downloads/shoes/shoes/nks.pdf) to see what our "spiritual father" might have to say about this.

On page 16 there is:

Personally I'd go for something like:

or something

[2014-05-31 10:27] jrgifford commented on #52
I like

[2014-06-01 09:25] PragTob commented on #46
Moved to shoes/shoes4#745 for better visibility

[2014-06-01 09:25] #46 closed, assigned to nobody

[2014-06-10 08:50] davorb commented on #52
I prefer the first one. It's simple and straight to the point.

[2014-07-23 10:34] JesseHerrick commented on #52
Hey everyone! It's been a few months since this was last discussed, so I'd like to say that this has not been abandoned. I've been really busy, but I'll try to put more work into the new design.

[2014-07-23 13:04] PragTob commented on #52
Thanks sounds cool :+1: Please don't stress out over it or anything and let us know where you need help :)

[2014-07-28 07:57] PragTob opened #56 "Enable scrolling for the manual side bar"
As pointed out by @0000marcell in shoes/shoes4#813 when the windows gets too small one can not use the side menu any more:

![screenie](https://cloud.githubusercontent.com/assets/4584144/3714519/ebc144a2-15ac-11e4-93f7-65ab69921aec.png)

[2014-07-28 07:57] PragTob commented on #56
Should be taken into account for in #52 :-)

[2014-08-12 17:47] nathancarnes commented on #53
Is there still interest in this? I'd be happy to pull together a few concepts.

[2014-08-12 17:56] JesseHerrick commented on #53
I would definitely say so. I'm not as good at graphic design as I am web
design.

On Tue, Aug 12, 2014 at 1:47 PM, nathancarnes notifications@github.com
wrote:

[2014-08-13 07:18] wpp commented on #52
@JesseHerrick are you still working on this? There is some talk in other PR's about upgrading Bootstrap and FontAwesome. I have a long weekend ahead of me but don't want start anything considering you are working on a new version.

[2014-08-13 11:00] PragTob commented on #53
DEFINITELY! As we move forward to a release candidate a new logo sure would be nice :)

[2014-08-13 16:14] JesseHerrick commented on #52
@wpp I saw the PR. Those changes are fine with me. I don't have too much time on my hands to work on the new site.

[2014-08-13 18:00] nathancarnes commented on #52
@wpp @JesseHerrick my thought is to move things over to the newest version of Bootstrap to help facilitate implementing the new design.

If someone else is already working on that upgrade, I'm happy to pitch in if I can be useful. Otherwise, let me know and I'll get going on a PR. :thumbsup:

[2014-08-13 18:53] wpp commented on #52
@nathancarnes go for it!

[2014-08-17 02:35] JesseHerrick commented on #52
Hey everyone! This is a **really early** view of my work on the redesign. Let me know what you think? (colors? margins? whatever)

Also, I'm not sure on the large "Shoes" header's color, so tell me if you think another color would be better.

![screen shot 2014-08-16 at 10 30 37 pm](https://cloud.githubusercontent.com/assets/3150092/3943596/fd1ef720-25b6-11e4-81c2-9a3dcc97f1b5.png)

[2014-08-17 03:12] JesseHerrick commented on #56
Got it.

[2014-08-17 04:20] JesseHerrick commented on #52
And another to show responsiveness.

![screen shot 2014-08-17 at 12 19 15 am](https://cloud.githubusercontent.com/assets/3150092/3943750/c0ef0600-25c5-11e4-96bf-44b9ed48393f.png)

[2014-08-17 20:00] jasonrclark commented on #52
That looks really sharp! I agree that the red doesn't quite seem right to me, but not positive what to use instead. The plain black in the responsive shots looks like an easy option to me, but I don't know if we're looking to give Shoes a more identifiable look with some other color scheme.

Thanks for your work on this. Super awesome! :rocket: :sparkles:

[2014-08-18 00:51] steveklabnik commented on #52
I like it! :D

[2014-08-18 01:05] JesseHerrick commented on #34
Idea! GitHub has a releases API. So we could implement it several ways. None of which, unfortunately, will work outside of the browser.

**The Meta Refresh/JavaScript Way**

[code]

This will have jQuery append a meta refresh/redirect to the head, which will in turn download the tarball.

**The JavaScript Only Way** Just pretend this is in the head of the same document.

[code]

Let me know what y

[2014-08-18 01:07] JesseHerrick commented on #41
I posted a solution over at #34.

[2014-08-18 01:22] JesseHerrick commented on #34
As for OS specific downloads, it really depends on how Shoes releases will released. But I'm sure I can make it work.

[2014-08-18 01:34] nathancarnes commented on #52
@JesseHerrick I really like where this is headed! Nice job.

It feels like we could do more to make the design more unique to Shoes, though. I wonder if it's worth exploring incorporating some hand-drawn elements to tie it back to the [book](https://cloud.github.com/downloads/shoes/shoes/nks.pdf). It's also possible that once there's a strong logo in place, that'll do the trick.

[2014-08-18 02:46] JesseHerrick commented on #52
I think a logo will definitely fix it @nathancarnes. I've flipped through the book and I see what you mean, but I don't really think they would fit on the home page. Maybe in the tutorial section. We'll see.

[2014-08-18 07:22] wpp commented on #52
Wow @JesseHerrick this looks slick. I agree that a logo and some uniqueness might be nice. Very impressive! :100:

[2014-08-18 12:41] PragTob commented on #52
Looks good thanks so much @JesseHerrick ! :-)

I know it's WIP but I'd go with a smaller sample on the landing page (max. 20 lines) and some screenshots of the resulting app. Really like the look - keep it up :-)

Tobi

[2014-08-18 14:07] JesseHerrick commented on #52
That makes sense @PragTob, I just typed up the stuff that was in the old page. I'll make sure to change that.

[2014-08-18 20:29] JesseHerrick commented on #52
@PragTob, would this be too short?

[code]

If so, could you suggest a short/simple code example to feature?

[2014-08-18 20:44] KCErb commented on #52
How about something like samples 21 or 56?

**Sample 21**

[code]

![sample21](https://cloud.githubusercontent.com/assets/4992244/3957717/46627d8c-2718-11e4-86c3-5894551c0999.jpg)

**Sample 56**

[code]

![sample56](https://cloud.githubusercontent.com/assets/4992244/3957725/585232ee-2718-11e4-87b1-63daa38c694e.jpg)

Of course you may want to change them a bit (I'd change the positioning on 21 and

[2014-08-18 20:48] JesseHerrick commented on #52
@KCErb no on the first one. It is way too ugly to go on a nice web design. Maybe the second one.

[2014-08-18 20:55] KCErb commented on #52
Yeah, haha :blush:. I do mean for you to clean up the prettiness a bit!

The point of my suggestion is to find a balance between something boring like
![boring](https://cloud.githubusercontent.com/assets/4992244/3957853/a704879c-2719-11e4-9e58-5d57819b2dc0.jpg)

and something that's too complicated like the current option.

I'm also in favor of something that uses more gui-ish elements like button

[2014-08-18 21:28] PragTob commented on #52
A sample that I like to use to show the simpleness of shoes is the following:

[code]

![screenshot from 2014-08-18 23 27 23](https://cloud.githubusercontent.com/assets/606517/3958283/8493388e-271e-11e4-959c-f127c98ba5e9.png)

Color scheme/could/should be updated to fit the layout.

We also could add other elements like edit lines/rectangles to show a lot of things that shoes is good for.

Thanks

[2014-08-18 21:31] JesseHerrick commented on #52
Just as an FYI, here's kind of what the code example and app will look like on the site.

![screen shot 2014-08-18 at 5 28 14 pm](https://cloud.githubusercontent.com/assets/3150092/3958320/c1252816-271e-11e4-88e3-a01066a31a9d.png)

So obviously, we can't really go with the basic `para "Hello, world!"`, but I think something short and sweet that shows just what Shoes can do would be nice. I'm think

[2014-10-15 13:42] KCErb opened #66 "Page build warning"
Hi all, got the following after merging the last blog update:

The page build completed successfully, but returned the following warning:

GitHub Pages recently underwent some improvements (https://github.com/blog/1715-faster-more-awesome-github-pages) to make your site faster and more awesome, but we've noticed that shoesrb.com isn't properly configured to take advantage of these new features. Wh

[2014-10-15 18:23] PragTob commented on #66
Seems like this is about a DNS configuration we'd have to do... I actually dunno who owns the domain. I'm guessing @steveklabnik ?

Info should be up here: https://help.github.com/articles/tips-for-configuring-an-a-record-with-your-dns-provider/

No hurry, though. Could also be delegated to me (although I suck at DNS records stuff.... but well room to learn) or @jasonrclark I guess if we got crede

[2014-10-15 19:37] steveklabnik commented on #66
Yes, I have the domain and can take care of this sometime.

[2014-10-24 09:55] spaghetticode opened #67 "OSX Download link not working"
Hi there, this link on the website http://shoesrb.com/downloads/  is not working: http://shoes.mvmanila.com/public/shoes/shoes-3.2.15-osx-10.9.tgz

Best,

Andrea

[2014-10-24 15:33] jasonrclark commented on #67
Thanks for the report @spaghetticode!

Looking at the directory, @ccoupe, I don't see the Mac version for 3.2.15. Believe the link is right, the file's just actually missing. What do you think?

[2014-10-24 18:48] ccoupe commented on #67
.15 was problematic for a few folks. I've copied 14 to .15 so the link should work now.

FYI, Shoes 3.2.16 will be coming soon - a day or two.

[2014-10-24 19:13] jasonrclark commented on #67
Thanks for getting on that @ccoupe!

Looks like you named the file http://shoes.mvmanila.com/public/shoes/shoes-3.2.15-osx.tgz, but the format for the other Mac files was http://shoes.mvmanila.com/public/shoes/shoes-3.2.14-osx-10.9.tgz so the actual link on the page is http://shoes.mvmanila.com/public/shoes/shoes-3.2.15-osx-10.9.tgz.

Do you want me to update the site to link without the `-10.9`,

[2014-10-24 19:17] ccoupe commented on #67
I've renamed it properly. Thanks for double checking me.
On 10/24/2014 01:13 PM, Jason R. Clark wrote:

[2014-10-25 03:11] jasonrclark commented on #67
Looks great, thanks!

[2014-10-25 03:11] #67 closed, assigned to nobody

[2014-11-05 14:25] PragTob commented on #66
They will fully deprecate the old IP before on the 1st of December, we need to fix this before. https://github.com/blog/1917-github-pages-legacy-ip-deprecation

[2014-11-18 21:11] steveklabnik commented on #66
Supposedly I fixed this, we'll see after DNS propigates.

[2014-11-18 21:29] PragTob commented on #66
Thanks a lot Steve, we'll see :heart: :+1:

[2014-11-18 22:03] jasonrclark commented on #66
:sparkle: :rocket: :heart:

[2014-11-28 08:36] eliduke commented on #52
Hey! What's the story with this issue? I'm happy to help with a redesign. Let's DO THIS!

[2014-11-28 08:41] PragTob commented on #52
:) You'd need to get in touch with @JesseHerrick to see what he has done so far or venture on by yourself, if that's ok for Jesse.

I also played a bit more with github pages again after the jekyll 2.0 release. They now support scss/sass and other cool stuff :)

[2014-11-28 10:08] eliduke commented on #52
Hey @JesseHerrick, what's the status of the shoesrb.com overhaul? Are you at a place where you could push something here and I could take a look at it? Let's DO THIS.

[2014-11-28 15:21] PragTob commented on #52
Btw. @wpp  how about you?

[2014-11-28 15:24] PragTob commented on #7
Closed as it was updated in #71

[2014-11-28 15:24] #7 closed, assigned to nobody

[2014-11-28 15:30] PragTob opened #72 "Automatic script to get all members?"
Right now the contributord page is rather static and we are missing out on some people but I still want to appreciate and share the love with/for EVERYONE!

it was discussed before to write a little script to load the contributors from github.

Related discussions #7 #71

[2014-11-28 19:03] JesseHerrick commented on #72
My first thought is GitHub's API. The problem is getting the data client-side because it's cross domain. But GitHub's API supports CORS and JSON-P, so I'll see what I can whip up in JS.
In cURL:

[code]

[2014-11-28 21:31] JesseHerrick commented on #72
Here's [my solution](http://jsbin.com/refosi/1/edit?html,output). It uses [GitHub's API](https://developer.github.com/v3/repos/collaborators/) through JSON-P to bypass cross domain errors.

[code]

[2014-11-28 21:40] JesseHerrick commented on #52
@eliduke @PragTob I haven't had too much time to work on it as of late. But I have time now and will spend the rest of the day furthering the redesign.

[2014-11-28 22:46] JesseHerrick commented on #52
Here's the latest: https://github.com/JesseHerrick/shoesrb.com

[2014-11-29 06:11] jasonrclark commented on #52
Liking what I'm seeing so far. Thanks for the work on it @JesseHerrick!

[2014-11-29 20:02] PragTob commented on #52
Thanks for the work @JesseHerrick - will take a look tomorrow :)

[2014-11-30 00:31] eliduke commented on #52
Looks great, @JesseHerrick. Are there known areas that still need attention or should I just poke around and see what I can find?

[2014-11-30 00:55] JesseHerrick commented on #52
Well @eliduke, I did a little bit of work on the contributors page, but it still needs some styles. Other than that just look around and see what you can fix. A lot of the work needed to be done is styling (which I can do if you're not up to it), but there may be some broken things also. Make sure to run the site with `bundle exec jekyll serve -w`.

I have yet to make a styleguide, but my breakpoi

[2014-11-30 19:11] eliduke commented on #52
Sounds great. I'm happy to style that up.

[2014-11-30 19:28] JesseHerrick commented on #52
I suppose the best way to contribute would be to fork then submit a PR to https://github.com/JesseHerrick/shoesrb.com, unless you want me to give you push rights @eliduke.

[2014-12-01 08:20] wpp commented on #52
@PragTob how about me? I don't quite follow...

[2014-12-01 15:39] eliduke commented on #52
@JesseHerrick I can just fork your repo and submit PRs.

[2014-12-01 15:40] PragTob commented on #52
@wpp just wanted to ask you if you also want to do some work on a new iteration of the home page, just if you got time and motivation of course :)

Cheers and thanks everyone!!!

[2014-12-01 15:42] eliduke commented on #52
I will be working on this for a while this morning, and I am happy to take a stab at the homepage as well.

[2014-12-01 15:59] eliduke commented on #52
Maybe this is obvious, but I had to delete my previous fork of shoesrb.com before I was able to fork @JesseHerrick's fork. Forking a fork!

[2014-12-01 16:27] eliduke commented on #52
@JesseHerrick I am new to gridism.css. Is there a way to set different column widths depending on screen size? I get the .half or .one-fifth syntax, but what if I want an element to be .one-fifth on a large screen but .half on mobile?

[2014-12-01 17:42] JesseHerrick commented on #52
@eliduke I don't think you're using the grid properly. It stacks automatically on mobiles. What page are you styling?

[2014-12-01 17:46] eliduke commented on #52
@JesseHerrick I understand that it stacks automatically, but take a look at the current contributors page:

http://shoesrb.com/contribute/

On desktop it has 6 people per row, on mobile it has 2. Is that possible with gridism? Or does everything just stack individually on mobile?

[2014-12-01 18:16] JesseHerrick commented on #52
That can be done in CSS. If I was on a computer right now I would show you.
Take a look over at SitePoint for a grid example from a list.
On Mon, Dec 1, 2014 at 12:46 PM Eli Duke notifications@github.com wrote:

[2014-12-01 18:36] eliduke commented on #52
@JesseHerrick It's not a big deal right now. I pushed my changes so far and submitted a PR. Right now I've got 5 contributors per row and It looks great on the desktop. I think we can drop that down to 2 per row on mobile. You can show me later.

[2014-12-01 19:31] wpp commented on #52
@PragTob Oh man I would love to. But I don't really have the time right now (around christmas is better for me). And I believe that @JesseHerrick and @eliduke are busy anyway so I don't want to zwischenfunken. Too many cooks something something :)

[2014-12-06 02:00] JesseHerrick commented on #52
Soooooo! I got the layout nice and responsive for the contributors page, but I'm not quite sure about this effect yet. Check it out @PragTob @eliduke.

![contributors-blur](https://cloud.githubusercontent.com/assets/3150092/5325697/a2a4925c-7cc1-11e4-888b-63baa2deb85c.gif)

[2014-12-07 14:22] PragTob commented on #52
Thanks @JesseHerrick ! You mean the blur/unblur? Seems like a playful thing to me - not must have but not bad. So I'm undecided/ok with whatever :)

(I know, not helping, sorry)

[2014-12-16 03:18] davorb commented on #52
I think it's better without the blur.

[2014-12-16 03:24] JesseHerrick commented on #52
Yeah @davorb, I got rid of it. I don't want users to think that they're losing their vision!

[2017-11-28 10:53] Fornost461 opened #86 "broken link on the page of tutorials: the link to the RDocs"
Hello, I noticed a broken link on [the page of tutorials](http://shoesrb.com/tutorials/): the link to [the RDocs](http://www.rubydoc.info/github/shoes/shoes).

[2017-11-30 14:39] nicholalexander commented on #72
@PragTob / @JesseHerrick  - is there any continued interest in this?  I think building it on the front end is interesting.  But we could also pull the data down into a data file for jekyll and then display it with the liquid templates.  That would make it easy to customize any specific instances of people being in or not in the lists based on the history of the project.

Also, since the Shoes org

[2017-12-01 04:47] jasonrclark commented on #72
If that sounds interesting to you @nicholalexander, feel free to give it a shot. I've worked plenty with Jekyll data, and that's very workable but if trying from the front-end appeals, go for it!

[2018-01-17 17:25] nicholalexander commented on #72
Unless anything is outstanding from #89, I think we can close this issue!

[2018-01-18 04:14] jasonrclark commented on #72
💥

[2018-01-18 04:14] #72 closed

[2018-01-18 04:15] jasonrclark commented on #86
Both those links look fixed, and the Shoes 4 docs are even getting generated again where they hadn't been for a while. Thanks for the nudge @Fornost461!

[2018-01-18 04:15] #86 closed

[2018-01-18 04:25] jasonrclark commented on #53
FWIW, I commissioned a new logo for Shoes 4 from @traviseugeneclark, and the resulting assets for that are available in a [new repo on this org](https://github.com/shoes/shoes-assets).

[2018-01-18 21:33] val461 commented on #86
You're welcome!

[2018-05-21 20:31] m-cat opened #90 ""Nobody knows shoes" link is broken"
See title. The link to _why's guide on [this page](http://shoesrb.com/tutorials/) is broken.

[2018-05-22 08:05] PragTob commented on #90
:wave:

Thanks!

See shoes/shoes4#1563 - PRs welcome :)

[2018-05-22 20:09] mrcnski commented on #90
Sure, raised #91

[2018-05-23 06:55] PragTob commented on #90
Fixed in #91

[2018-05-23 06:55] #90 closed

[2019-05-28 05:19] apjanke opened #95 "Description of Ruby Unicode support"
On http://shoesrb.com/manual/Rules.html in the "UTF-8 Everywhere" section, it says:

That's not true any more, is it? I thought that as of Ruby 2.3 at least (which Shoes is now shipping), Ruby supports Unicode and UTF-8, and in fact uses UTF-8 as its default encoding for Strings.

[code]

Should this section of the manual be revised?

Also, it says:

I'm not sure that's true any more either. The d

[2019-05-28 05:27] apjanke opened #96 ""Nobody Knows Shoes" download link broken in manual/Shoes"
On http://shoesrb.com/manual/Shoes.html in the third paragraph, it says:

That "Nobody Knows Shoes" is a link. But instead of going to the PDF itself, it goes to http://github.com/shoes/shoes/downloads, where the user needs to search through the list to find it. And on https://github.com/shoes/shoes-deprecated/downloads, the `nks.pdf` download link is broken: when I click it, GitHub just gives me

[2019-05-29 02:24] ccoupe commented on #96
@apjanke The html manual is part of the Shoes 4 project. I only speak for Shoes 3.x so I'm reluctant to 'fix' their code.  I know you use 3.3.7+ so please use the internal manual (from the splash screen or cobbler menu) is far more accurate for Shoes 3 than the html.

[2019-07-19 13:04] davorb commented on #95
Yes, I think you're right about this. Maybe open a PR?